<div class="noprint">
Monat
<mat-form-field>
	<mat-select [(ngModel)]="selectedMonth">
		<mat-option *ngFor="let month of months" [value]="month.value">
			{{ month.title }}
		</mat-option>
	</mat-select>
</mat-form-field>
Jahr
<mat-form-field>
	<mat-select [(ngModel)]="selectedYear">
		<mat-option *ngFor="let year of years" [value]="year">
			{{ year }}
		</mat-option>
	</mat-select>
</mat-form-field>
</div>
<mat-tab-group>
	<mat-tab label="Bearbeiten">
		<app-month-edit *ngIf="selectedMonth >= 0 && selectedYear" [month]="selectedMonth" [year]="selectedYear">
		</app-month-edit>
	</mat-tab>
	<mat-tab label="Fahrstrecken">
		<app-month-days *ngIf="selectedMonth >= 0 && selectedYear" [month]="selectedMonth" [year]="selectedYear">
		</app-month-days>
	</mat-tab>
	<mat-tab label="Legende">
		<app-month-locations *ngIf="selectedMonth >= 0 && selectedYear" [month]="selectedMonth" [year]="selectedYear">
		</app-month-locations>
	</mat-tab>
</mat-tab-group>


