<p>
  <span *ngFor="let step of steps$ | async; let last = last">
  	<span>
  		{{step.from.id}}
  	</span>
  	<span *ngIf="step.distance !== undefined">
  		-
  	</span>
  	<span *ngIf="step.distance === undefined">
  		<button mat-mini-fab (click)="openMaps(step); $event.stopPropagation()" color="warn" data-testid="edit-distance"></button>
  	</span>
  	<span *ngIf="last">
	  	{{step.to.id}}
  	</span>
  </span>
  <span *ngIf="(totalDistance$ | async) as totalDistance">
  	Gesamt: {{totalDistance}} km
  </span>
</p>
